.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sectionTitle {
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
